@model MVC_forum.Models.ProfileViewModel

@if (User.Identity is { IsAuthenticated: true } && User.Identity.Name == Model.User.UserName)
{
<h1 class="mt-3" style="font-variant-caps: small-caps;">Uredi svoj profil</h1>
<div class="row justify-content-around">
    <!-- pfp -->
    <div class="card col-md-3" style="height: min-content">
        <div class="card-body">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: 150%;">Profilna slika</a>
                </li>
            </ul>
            <img src="@Model.User.PfpDir" class="mx-auto d-block mt-3 rounded-2" style="width: 60%">
        </div>
        <form asp-action="ChangeProfilePicture" method="post" enctype="multipart/form-data">
            <ul class="list-group list-group-flush align-items-center">
                <li class="form-group list-group-item">
                    <span class="badge bg-primary mt-2 m-1" style="font-size: 90%;">Nova slika</span>
                    <input type="file" class="form-control-file w-100 border-5 bg-dark-subtle rounded-2 text-black" id="profilePicture" name="profilePicture">
                </li>
                <button type="submit" class="btn btn-success m-2">Posodobi</button>
            </ul>
        </form>
    </div>
    <!-- passwd and user info -->
    <div class="card col-md-8" style="height: min-content">
        <div class="card-body">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: 150%;">@Model.User.UserName</a>
                </li>
            </ul>
            <form asp-action="ChangePassword" method="post" enctype="multipart/form-data">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-group mt-1">
                            <span class="badge bg-primary mt-2 m-1" style="font-size: 90%;">Trenutno geslo</span>
                            <input asp-for="ChangePassViewModel.OldPassword" class="form-control bg-dark-subtle"/>
                        </div>
                        <div class="form-group mt-1">
                            <span class="badge bg-primary mt-2 m-1" style="font-size: 90%;">Novo geslo</span>
                            <input asp-for="ChangePassViewModel.NewPassword" class="form-control bg-dark-subtle"/>
                            <span asp-validation-for="ChangePassViewModel.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-1">
                            <span class="badge bg-primary mt-2 m-1" style="font-size: 90%;">Potrdi novo geslo</span>
                            <input asp-for="ChangePassViewModel.ConfirmPassword" class="form-control bg-dark-subtle"/>
                            <span asp-validation-for="ChangePassViewModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </li>
                    <button type="submit" class="btn btn-success mt-3" style="width: 20%">Zamenjaj geslo</button>
                </ul>
            </form>
            <hr/>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Datum registracije:</strong> @Model.User.RegistrationDate
                </li>
                <li class="list-group-item">
                    <strong>Zadnja prijava:</strong> @Model.User.LastLogin
                </li>
                <li class="list-group-item">
                    <strong>Število člankov:</strong> @Model.NumberOfArticles
                </li>
                <li class="list-group-item">
                    <strong>Število komentarjev:</strong> @Model.User.NumberOfComments
                </li>
            </ul>
        </div>
    </div>
    <!-- articles -->
    <hr class="mt-5 mb-2"/>
    <ul class="nav nav-pills">
        <li class="nav-item m-4 mb-3">
            <a class="nav-link active" style="font-size: 150%;">Članki</a>
        </li>
    </ul>
    <div class="row">
        @if (Model == null)
        {
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ta oseba še nima objav</h5>
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var article in Model.User.Articles!)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                        @if (File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "slike", $"{article.Id}.jpg")))
                        {
                            <a href="@Url.Action("Article", "Articles", new { id = article.Id })">
                                <img src="@Url.Content($"~/slike/{article.Id}.jpg")" class="card-img-top" style="height: 240px; object-fit: cover;">
                            </a>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@article.Title</h5>

                            @if (article.Content.Length > 45)
                            {
                                <p class="card-text">@(article.Content[..45])...</p>
                            }
                            else
                            {
                                <p class="card-text">@article.Content</p>
                            }

                            <p class="card-text"><small class="text-muted">Objavil: @article.Author</small></p>
                            <a href="@Url.Action("Article", "Articles", new { id = article.Id })" class="btn btn-primary">Preberi</a>
                            <!-- TODO: Add edit button -->
                            <a href="" class="btn btn-outline-light">Uredi</a>
                        </div>
                        <div class="card-footer">
                            @article.Date.Date.ToShortDateString()
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>
}
else
{
    <h1 class="mt-3" style="font-variant-caps: small-caps;">Poglej profil</h1>
    <div class="row justify-content-around">
        <!-- pfp -->
        <div class="card col-md-3" style="height: min-content">
            <div class="card-body">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: 150%;">Profilna slika</a>
                    </li>
                </ul>
                <img src="@Model.User.PfpDir" class="mx-auto d-block mt-3 rounded-2" style="width: 60%">
            </div>
        </div>
        <!-- user info -->
        <div class="card col-md-8" style="height: min-content">
            <div class="card-body">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: 150%;">@Model.User.UserName</a>
                    </li>
                </ul>
                <hr/>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Datum registracije:</strong> @Model.User.RegistrationDate
                    </li>
                    <li class="list-group-item">
                        <strong>Zadnja prijava:</strong> @Model.User.LastLogin
                    </li>
                    <li class="list-group-item">
                        <strong>Število člankov:</strong> @Model.NumberOfArticles
                    </li>
                    <li class="list-group-item">
                        <strong>Število komentarjev:</strong> @Model.User.NumberOfComments
                    </li>
                </ul>
            </div>
        </div>
        <!-- articles -->
        <hr class="mt-5 mb-2"/>
        <ul class="nav nav-pills">
            <li class="nav-item m-4 mb-3">
                <a class="nav-link bg-primary" style="font-size: 150%;">Članki</a>
            </li>
        </ul>
        <div class="row">
            @if (Model == null)
            {
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ta oseba še nima objav</h5>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @foreach (var article in Model.User.Articles!)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            @if (File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "slike", $"{article.Id}.jpg")))
                            {
                                <a href="@Url.Action("Article", "Articles", new { id = article.Id })">
                                    <img src="@Url.Content($"~/slike/{article.Id}.jpg")" class="card-img-top" style="height: 240px; object-fit: cover;">
                                </a>
                            }
                            <div class="card-body">
                                <h5 class="card-title">@article.Title</h5>

                                @if (article.Content.Length > 45)
                                {
                                    <p class="card-text">@(article.Content[..45])...</p>
                                }
                                else
                                {
                                    <p class="card-text">@article.Content</p>
                                }

                                <p class="card-text"><small class="text-muted">Objavil: @article.Author</small></p>
                                <a href="@Url.Action("Article", "Articles", new { id = article.Id })" class="btn btn-primary">Preberi</a>
                            </div>
                            <div class="card-footer">
                                @article.Date.Date.ToShortDateString()
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
